@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    color: #000;
}
.w-100 {
    width: 100%;
}
nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
.logo-div {
    position: fixed;
    z-index: 11;
    top: 6%;
    left: 10px;
}
.logo-div a img {
    position: absolute;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
    transform-origin: top left;
}
.logo-div a img:first-child {
    background-color: #fff;
}
.logo-div a:hover img:last-child {
    transform: rotate(-10deg);
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    height: 10vh;
}
.nav-links a { 
    display: inline-block;
    text-decoration: none;
    color: #000;
    width: 90px;
    line-height: 10vh;
    text-align: center;
    font-weight: 400;
    position: relative;
}
.nav-links a::after {
    content: '';
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: #000 2px solid;
    transform: scaleX(0);
    transition: 0.25s all linear;
}
.nav-links a:hover::after {
    transform: scaleX(1);
}
.nav-links a.active_page::after {
    content: '';
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: #000 2px solid;
    transform: scaleX(1);
    transition: 0.25s all linear;
}
#menu {
    display: none;
    cursor: pointer;
    height: 10vh;
    width: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
    z-index: 10;
}
#menu:hover span {
    box-shadow: 0 0 3px #555;
}
#menu.opened span:nth-child(2) {
    transform: rotate(45deg);
}
#menu.opened span:first-child{
    transform: scale(0);
    top: 2px;
}
#menu.opened span:last-child {
    top: -2px;
    transform: rotate(-45deg);
}
#menu span {
    display: block;
    background-color: #000;
    position: relative;
    height: 2px;
    left: 0;
    width: 100%;
    transition: all 0.3s linear, box-shadow 0.2s linear;
}
#menu span:first-child {
    top: -10px;
}
#menu span:last-child {
    top: 10px;
}
#menu-content {
    display: none;
    position: fixed;
    height: 90vh;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #000;
}
#menu-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    position: relative;
}
#menu-content a.active_page::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 100px;
    top: 50%;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.25s all linear;
}
#menu-content a.active_page::after {
    transform: scaleX(1);
}
.topic-top {
    display: none;
    position: absolute;
    top: 0;
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.pop-up {
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.3s tranform linear;
}
.pop-up div{
    height: 76px;
    width: 76px;
    position: relative;
    border: 5px solid #111;
}
.pop-up div::after{
    content: '';
    height: 5px;
    width: calc(100% + 12px);
    left: -6px;
    bottom: -20px;
    position: absolute;
    background-color: #000;
    animation-name: horizontal-loader;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    transform-origin: left;
}
@keyframes horizontal-loader {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
.pop-up img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    top: 3px;
    left: 3px;
    position: absolute;
}


/* Section */ 
#intro, #about {
    height: 100vh;
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
    color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    background: url('../images/lptp-back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#intro h1:first-child {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}
#about {
    background: url('../images/abt-me.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    text-align: left;
    box-sizing: border-box;
}
#about span {
    padding: 0px 10px;
    box-sizing: border-box;
    width: 60%;
    font-size: 1rem;
    text-shadow: 2px 2px #444;
    margin-top: 5px;
    display: inline-block;
}
#work {
    min-height: 100%;
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
}
#work>div{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
#work a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    border: 1px solid #000;
    padding: 13px 26px;
    position: relative;
    z-index: 1;
}
#work a::before{
    content: '';
    background-color: #fff;
    position: absolute;
    width: calc(100% - 16px);
    left: 8px;
    height: calc(100% + 8px);
    top: -4px;
    transform: scaleX(1);
    transform-origin: 0 0;
    transition: all linear 0.3s;
}
#work a::after{
    content: '';
    background-color: #fff;
    position: absolute;    
    width: calc(100% + 8px);
    left: -4px;
    height: calc(100% - 16px);
    top: 8px;
    transform: scaleX(1);
    transform-origin: 0 0;
    transition: all linear 0.3s;
}
#work a:hover::before{
    transform: scaleX(0);
}
#work a:hover::after{
    transform: scaleY(0);
}
#work a span{
    margin: 0;
    position: relative;
    z-index: 2;
}
.title {
    display: inline-block;
    text-align: center;
    margin: 40px 0;
    font-weight: 600;
    border-bottom: 1px solid #000;
}
#work>div>div {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
#work>div>div>div, #work>div>div>img {
    width: 50%;
    box-sizing: border-box;
    padding: 0 5px;
}
#work>div>div>img {
    border-radius: 100px 0 0 100px;
}
#work>div.biplovelc>div>img {
    border-radius: 0 100px 100px 0;
}
.desc-n-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.desc-n-link span{
    display: block;
    margin: 15px 0;
}
.links-view-code {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}
.many-more {
    text-align: center;
    font-size: 1.5em;
}
.many-more div {
    height: 50vh;
    width: 100%;
    color: #fff;
    background: url('../images/fruto-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 100;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.many-more div span {
    width: 100%;
    display: block;
    color: #000;
}
.many-more div a {
    display: inline-block;
    margin-top: 30px;
    transition: all 0.2s linear;
}
.many-more div a:hover{
    transform: scale(1.1);
    font-weight: 1000;
}
.many-more div a img{
    position: relative;
    top: 3px;
}
.contact {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}
.contact .form{
    width: 50%;
}
.contact button{
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.contact button:hover{
    background-color: #fff;
    color: #000;
    letter-spacing: 10px;
}
.contact label {
    display: block;
    padding: 3px 0;
}
.contact input, .contact textarea {
    width: 100%;
    max-width: 576px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.contact input::placeholder, .contact textarea::placeholder {
    color: #000;
    font-size: 1em;
}
.contact input:focus, .contact textarea:focus {
    box-shadow: 0 0 5px #000;
    outline: 0;
}
.contact .form-or{
    width: 50%;
}
.contact .form-or>span{
    display: block;
    font-size: 1.5em;
    font-weight: 100;
}
.contact .links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact .links a{
    display: inline-block;
    margin-top: 15px;
    font-size: 1.5em;
    transition: all 0.2s linear;
    font-weight: 100;
}
.contact .links a img{
    position: relative;
    top: 3px;
    right: 10px;
}
.contact .links a:hover {
    transform: scale(1.1);
}
footer {
    padding: 2em 5px;
    font-size: 0.9em;
    box-shadow: 0 1px 3px #000;
}



@media only screen and (max-width: 768px) {
    #work {
        font-size: 1.2em;
    }
    .logo-div img {
        max-width: 60px;
    }
    #work>div.biplovelc>div {
        flex-wrap: wrap;
    }
    #work>div>div>div, #work>div>div>img {
        width: 100%;
        border-radius: 0 !important;
    }
    .contact .form, .contact .form-or{
        width: 100%;
    }
    .contact .form-or{
        margin-top: 30px;
    }
    .sm-fl-rev {
        flex-wrap: wrap-reverse !important;
    }
}

@media only screen and (max-width: 576px) {
    .logo-div img {
        max-width: 60px;
    }
    .nav-links a { 
        display: none;
    }
    #menu {
        display: flex;
    }
    #menu-content {
        display: block;
        transform: scale(0);
        transform-origin: top right;
        transition: transform 0.3s linear;
    }
    .topic-top {
        display: block;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s linear;
    }
}

@media only screen and (max-width: 360px) {
    .logo-div img {
        max-width: 50px;
    }
    #work {
        font-size: 1.1em;
    }
    #about span {
        width: 80%;
    }
}