ErrorDocument 400 https://biplovelc.me/errors
ErrorDocument 401 https://biplovelc.me/errors
ErrorDocument 403 https://biplovelc.me/errors
ErrorDocument 404 https://biplovelc.me/errors/not-found
ErrorDocument 500 https://biplovelc.me/errors

RewriteEngine On 
RewriteCond %{HTTPS}  !=on 
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L] 
