@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #cc9999;
  --back-color: #8ce4cd;
}

body {
  font-family: "Dancing Script", cursive;
  background-color: var(--back-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-wrapper, #title-wrapper-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

#title-wrapper div, #title-wrapper-2 div {
  position: relative;
  top: -900px;
  font-size: 2rem;
  margin-right: 15px;
  font-weight: 600;
}

#title-wrapper-2 div {
  left: -900px;
  top: 0;
}

svg g {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.heart-wrapper {
  margin-top: -80px;
}

.rose {
  position: relative;
  width: 75px;
  rotate: -15deg;
  right: -999px;
}