body {
	margin:0px;
	padding:0px;
    background-color: teal;
    color: #eee;
}

#game-area {
	margin:10px;
	padding:0px;
    background-color: teal;
}

#mode-wrapper {
    color: #fff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
}

#game-area:focus { outline: none; }

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:#fff;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: teal;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    position: absolute;
    border: 0px solid #fff;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
   background-image: url('./images/snakeblock.png');
}
.snake-snakebody-dead {
   background-image: url('./images/deadblock.png');
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: orangered;
    border: 0px solid #fff;
    position: absolute;
    border-radius: 50%;
}
.snake-food-block::after {
    content: '';
    display: inline-block;
    height: 6px;
    position: relative;
    top: -50%;
    left: -25%;
    width: 2px;
    background-color: green;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.snake-food-block::before {
    content: '';
    display: inline-block;
    height: 2px;
    position: relative;
    bottom: 75%;
    left: 50%;
    width: 75%;
    border-radius: 50%; 
    background-color: green;
    transform: translate(-50%, 50%);
}
.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #fff;
    border: 0px solid #fff;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: teal;
    position: relative;
}

.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: teal;
    box-shadow: 0 0 25px #999;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog, .snake-win-dialog {
    padding: 8px;
    margin: 0px;
    background-color: teal;
    color: #ffffff;
    box-shadow: 0 0 25px #999;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
}
.snake-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}